flows.json
[
    {
        "id": "dc220f0103960ea5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f87851c7f20d948c",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7fa20b64ca40629",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "765202cc5e3442c8",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "98100111dab71338",
        "type": "ui_tab",
        "name": "Food Count System Iot",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1047ed51dd42cbbe",
        "type": "ui_group",
        "name": "floor_1st",
        "tab": "98100111dab71338",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "eb0d3f1e280aeac1",
        "type": "mqtt in",
        "z": "dc220f0103960ea5",
        "name": "",
        "topic": "Test/Petch/Table_1",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b7fa20b64ca40629",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 160,
        "wires": [
            [
                "c7f0c72d38524d0a",
                "18a1e4e54e78d9cc"
            ]
        ]
    },
    {
        "id": "69c0ed7124c87879",
        "type": "ui_led",
        "z": "dc220f0103960ea5",
        "order": 0,
        "group": "1047ed51dd42cbbe",
        "width": "5",
        "height": "3",
        "label": "Table_1",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_Table_1",
        "x": 890,
        "y": 120,
        "wires": []
    },
    {
        "id": "31862138e7550415",
        "type": "debug",
        "z": "dc220f0103960ea5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 400,
        "wires": []
    },
    {
        "id": "c5a14b6f4c51479f",
        "type": "change",
        "z": "dc220f0103960ea5",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 480,
        "wires": [
            [
                "cf14065b9c8dedd4"
            ]
        ]
    },
    {
        "id": "670b737451e275be",
        "type": "mqtt in",
        "z": "dc220f0103960ea5",
        "name": "",
        "topic": "Test/Petch/Table_2",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b7fa20b64ca40629",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 440,
        "wires": [
            [
                "c5a14b6f4c51479f",
                "31862138e7550415"
            ]
        ]
    },
    {
        "id": "cf14065b9c8dedd4",
        "type": "timer-node",
        "z": "dc220f0103960ea5",
        "name": "wait for user 15m",
        "topic": "",
        "timer": "900",
        "payloadOn": "true",
        "payloadOnType": "bool",
        "payloadOff": "false",
        "payloadOffType": "bool",
        "x": 670,
        "y": 480,
        "wires": [
            [
                "1387544eaa3bfd59",
                "e9250a2078cae369"
            ],
            [
                "2b84a7cf3bfa53bc"
            ]
        ]
    },
    {
        "id": "1387544eaa3bfd59",
        "type": "debug",
        "z": "dc220f0103960ea5",
        "name": "state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "2b84a7cf3bfa53bc",
        "type": "debug",
        "z": "dc220f0103960ea5",
        "name": "timer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "e9250a2078cae369",
        "type": "ui_led",
        "z": "dc220f0103960ea5",
        "order": 0,
        "group": "1047ed51dd42cbbe",
        "width": "5",
        "height": "3",
        "label": "Table_2",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_Table_2",
        "x": 870,
        "y": 460,
        "wires": []
    },
    {
        "id": "c7f0c72d38524d0a",
        "type": "debug",
        "z": "dc220f0103960ea5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "31331d3194938d7f",
        "type": "debug",
        "z": "dc220f0103960ea5",
        "name": "state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 40,
        "wires": []
    },
    {
        "id": "f5148ae3f4b6eade",
        "type": "debug",
        "z": "dc220f0103960ea5",
        "name": "timer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 200,
        "wires": []
    },
    {
        "id": "a5a2bfa66c11cefe",
        "type": "timer-node",
        "z": "dc220f0103960ea5",
        "name": "wait for user 15m",
        "topic": "",
        "timer": "900",
        "payloadOn": "true",
        "payloadOnType": "bool",
        "payloadOff": "false",
        "payloadOffType": "bool",
        "x": 670,
        "y": 140,
        "wires": [
            [
                "69c0ed7124c87879",
                "31331d3194938d7f"
            ],
            [
                "f5148ae3f4b6eade"
            ]
        ]
    },
    {
        "id": "18a1e4e54e78d9cc",
        "type": "change",
        "z": "dc220f0103960ea5",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "a5a2bfa66c11cefe"
            ]
        ]
    },
    {
        "id": "555c1454851e85a5",
        "type": "debug",
        "z": "dc220f0103960ea5",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 620,
        "wires": []
    },
    {
        "id": "9dac3e6a6a733cd3",
        "type": "change",
        "z": "dc220f0103960ea5",
        "name": "",
        "rules": [
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "1",
                "fromt": "num",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "change",
                "p": "payload",
                "pt": "msg",
                "from": "0",
                "fromt": "str",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 700,
        "wires": [
            [
                "07459fa9e5e8bb74"
            ]
        ]
    },
    {
        "id": "bbc816d049fbaec7",
        "type": "mqtt in",
        "z": "dc220f0103960ea5",
        "name": "",
        "topic": "Test/Petch/Table_3",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "b7fa20b64ca40629",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 660,
        "wires": [
            [
                "9dac3e6a6a733cd3",
                "555c1454851e85a5"
            ]
        ]
    },
    {
        "id": "07459fa9e5e8bb74",
        "type": "timer-node",
        "z": "dc220f0103960ea5",
        "name": "wait for user 15m",
        "topic": "",
        "timer": "900",
        "payloadOn": "true",
        "payloadOnType": "bool",
        "payloadOff": "false",
        "payloadOffType": "bool",
        "x": 670,
        "y": 700,
        "wires": [
            [
                "e8766b89def75821",
                "efded27b54cd473e"
            ],
            [
                "de13dacecf44a38d"
            ]
        ]
    },
    {
        "id": "e8766b89def75821",
        "type": "debug",
        "z": "dc220f0103960ea5",
        "name": "state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 620,
        "wires": []
    },
    {
        "id": "de13dacecf44a38d",
        "type": "debug",
        "z": "dc220f0103960ea5",
        "name": "timer",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 740,
        "wires": []
    },
    {
        "id": "efded27b54cd473e",
        "type": "ui_led",
        "z": "dc220f0103960ea5",
        "order": 0,
        "group": "1047ed51dd42cbbe",
        "width": "5",
        "height": "3",
        "label": "Table_3",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "led_Table_3",
        "x": 870,
        "y": 680,
        "wires": []
    },
    {
        "id": "bef0e8d557aa3e6c",
        "type": "jimp-image",
        "z": "f87851c7f20d948c",
        "name": "get image",
        "data": "image",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "image",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 420,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b9e1cd836446c6f8",
        "type": "image viewer",
        "z": "f87851c7f20d948c",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "active": true,
        "x": 570,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "9a6ebe29469fa29b",
        "type": "jimp-image",
        "z": "f87851c7f20d948c",
        "name": "",
        "data": "payload",
        "dataType": "msg",
        "ret": "img",
        "parameter1": "",
        "parameter1Type": "msg",
        "parameter2": "",
        "parameter2Type": "msg",
        "parameter3": "",
        "parameter3Type": "msg",
        "parameter4": "",
        "parameter4Type": "msg",
        "parameter5": "",
        "parameter5Type": "msg",
        "parameter6": "",
        "parameter6Type": "msg",
        "parameter7": "",
        "parameter7Type": "msg",
        "parameter8": "",
        "parameter8Type": "msg",
        "sendProperty": "payload",
        "sendPropertyType": "msg",
        "parameterCount": 0,
        "jimpFunction": "none",
        "selectedJimpFunction": {
            "name": "none",
            "fn": "none",
            "description": "Just loads the image.",
            "parameters": []
        },
        "x": 610,
        "y": 280,
        "wires": [
            []
        ]
    }
]